{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Change password</h2>
        </div>
        <div class="card-body">
          {% if messages %}
          <div class="alert alert-success" role="alert">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
          </div>
          {% endif %} {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}
          <form method="post" class="form-signin">
            {% csrf_token %} {% for field in form %}
            <div class="form-group">
              {% if field.label %}
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% endif %}
              <div class="input-group">{{ field }}</div>
              {% for error in field.errors %}
              <small class="form-text text-danger">{{ error }}</small>
              {% endfor %}
            </div>
            {% endfor %}
            <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">
              Change password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
