{% extends "base.html" %}

{% block content %}

    
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>

        {% for msg in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Hey!</strong> {{ msg }}
                
            </div>
        {% endfor %}
        <div>
            <p>Please note that the new passowrd must contain the following: </p>
            <ul>
                <li>Minimum of 8 characters</li>
                <li>One or more upper case letter</li>
                <li>One or more lower case letter</li>
                <li>One or more special character: @, #, $ etc...</li>
                <li>One or more number</li>
                <li>Should not be a numeric or common password: 123456, password</li>
            </ul>
        </div>

        <form method="post">
        {% csrf_token %}
        <div class="form-group">
        <p>Please enter your new password.</p>
        <input type="password" name="new_password" class="form-control">
        </div>

        <div class="form-group">
        <p>Confirm new password</p>
        <input type="password" name="new_password_confirm" class="form-control">
        </div>

        <input type="hidden" name="user_id" value="{{user_id}}">

        <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Submit</button>
        </form>

    </div>

{% endblock %}