{% extends "base.html" %} {% block content %}

<!--Password Reset Confirm-->
<div class="container p-5">
  <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
  <hr />

  {% for msg in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Hey!</strong> {{ msg }}
  </div>
  {% endfor %}
  <div>
    <p>Please note that the new passowrd must contain the following:</p>
    <ul>
      {% if policy.min_length %}
      <li>Minimum of {{ policy.min_length }} characters</li>
      {% endif %} {% if policy.require_uppercase %}
      <li>One or more upper case letter</li>
      {% endif %} {% if policy.require_lowercase %}
      <li>One or more lower case letter</li>
      {% endif %} {% if policy.require_special %}
      <li>One or more special character: @, #, $ etc...</li>
      {% endif %} {% if policy.require_numeric %}
      <li>One or more number</li>
      {% endif %} {% if policy.common_password %}
      <li>Should not be a common password</li>
      {% endif %} {% if policy.numeric_password %}
      <li>Should not be a numeric password</li>
      {% endif %}
    </ul>
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <p>Please enter your new password.</p>
      <input type="password" name="new_password" class="form-control" />
    </div>

    <div class="form-group">
      <p>Confirm new password</p>
      <input type="password" name="new_password_confirm" class="form-control" />
    </div>

    <input type="hidden" name="user_id" value="{{user_id}}" />

    <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">
      Submit
    </button>
  </form>
</div>

{% endblock %}
