{% extends 'base.html' %} {% block content %}
      <form method="post" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading">Sign up</h2>
        {% for field in form %}
        <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
        <p style="color: red">{{error}}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">
          Sign up
        </button>
      </form>
{% endblock %}
