{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Sign up</h2>
        </div>
        <div class="card-body">
          <form method="post" class="form-signin">
            {% csrf_token %} {% for field in form %}
            <div
              class="form-group {% if field.name == 'password' %} password-policy {% endif %}"
            >
              {% if field.label %}
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% endif %}
              <div class="input-group">
                {{ field }} {% if field.name == 'password' %}
                <div class="password-policy-checklist">
                  {% include 'password_policy.yml' %}
                </div>
                {% endif %}
              </div>
              {% for error in field.errors %}
              <small class="form-text text-danger">{{error}}</small>
              {% endfor %}
            </div>
            {% endfor %}
            <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">
              Sign up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
